*{
  margin: 0;
  padding: 0;
}

a,a:hover{
  text-decoration: none;
}

.product-nav{
   position: fixed;
   top: 0;
   width: 100%;
   height: 50px;
   font-size: 18px;
   z-index: 9999;
   background: #fff;
   border-bottom: 1px solid #ddd;
   .titlebar-back{
     position: absolute;
     height: 36px;
     line-height: 36px;
     left: 10px;
     top: 10px;
     font-size: 17px;
     color: #595959;
     padding: 0 14px 0 20px;
     background-position: 5px 5px;
     overflow: hidden;
     background-size: 20px 25px;
     background-image: url(../images/titlebar.png) ;
     background-repeat: no-repeat;
   }
   .titlebar-title{
     text-align: center;
     height: 100%;
     line-height: 3pc;
     white-space: nowrap;
     color: #ff505a;
     overflow: hidden;
     text-overflow: ellipsis;
   }
}
