.products{
  position: relative;
  overflow: hidden;
  padding: 0 0 2px;
  .product-item{
    position: relative;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    float: left;
    text-align: center;
    .product-box{
      border: 1px solid #ddd;
      width: 90%;
      display: inline-block;
      margin-top: 20px;
      padding-bottom: 20px;
      a.product-name{
        display: block;
        margin: 10px 0;
        color:#000;
        &:hover{
          color:red;
        }
      }
      h2{
        margin: 10px 0;
        font-size: 22px;
        height: 50px;
      }
      p{
        span{
          color:red;
        }
      }
      img {
        width: 100%;
      }
    }

  }
}

 .product-info{
   background: #ddd;
   color:#595959;
   .product-container{
     margin-top: 50 !important;
     .productInfo-img{
       position: relative;
       min-height: 200px;
       border-bottom: 1px solid #ddd;
       margin-bottom: 10px;
       background: #fff;
       img{
         width: 100%;
         height: auto;
         display: block;
       }
       h2{
         padding-left: 20px;
         padding-top: 10px;
         font-size:22px;
       }
       p{
         padding: 10px 0 10px 20px;
         color:red;
         font-size: 20px;
       }
     }
     .product-num{
       height: 80px;
       width: 100%;
       background: #fff;
       position: relative;
       .num-box{
         padding-top: 33px;
         padding-left: 60px;
         font-size: 16px;
         span:nth-child(1){
           position: absolute;
           top: 33px;
           left: 20px;
         }
         span:nth-last-child(1){
           position: absolute;
           top: 35px;
           left: 160px;
         }
       }
     }
     .product-content{
       width: 100%;
       margin: 10px auto;
       padding-bottom: 80px;
       background: #fff;
       p{
         padding:10px 10px 0 10px;
       }
     }
   }
   .productinfo-go {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: rgba(255,255,255,.9);
      z-index: 100;
      box-sizing: border-box;
      display: -webkit-box;
      .productInfo-cart{
        width: 72px;
        height: 100%;
        background: url(../images/cart.png) center no-repeat;
        background-size: 28px auto;
        position: relative;
        background-color: rgba(55,59,66,.9);
        cursor: pointer;
        span{
          display: block;
          font-size: 10px;
          text-align: center;
          border-radius: 9px;
          -webkit-border-radius: 9px;
          height: 18px;
          line-height: 18px;
          position: absolute;
          top: 8px;
          right: 10px;
          background-color: #ff505a;
          color: #fff;
          border: none;
          padding: 0 6px;
        }
      }
      .productinfo-btn-cart {
        padding: 0 10px;
        background-color: rgba(55,59,66,.9);
        color: #fff;
        border-left: 1px solid rgba(100,103,109,.9);
        text-align: center;
        font-size: 1pc;
        -webkit-box-flex: 1;
        box-flex: 1;
     }
   }
 }
