.products{
  position: relative;
  overflow: hidden;
  margin: 14px 0 0;
  padding: 0 0 2px;
  .product-item{
    position: relative;
    width: 50%;
    display: inline-block;
    padding: 0 10px 14px 14px;
    box-sizing: border-box;
    float: left;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
}
